pytest==5.2.0
evaluate
pandas
openai
mlrun==1.4.0
auto-gptq
openmpi
mpi4py
transformers
torch==2.0.0 # torch 2.0.0 works with our current cuda driver 11.7, the newer versions will require a newer driver
accelerate
einops
optimum
