[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
bs4 = "*"
myst-nb = "*"
mlrun = "*"
sphinx-book-theme = "*"
jinja2 = "*"
pyyaml = "*"
click = "*"
pipenv = "*"
nuclio-jupyter = "*"

[dev-packages]

[requires]
python_version = "3.7"
