mlrun~=0.6.0
pipenv

jinja2~=2.11.3
click~=7.1.2

pyyaml~=5.4.1
numpy~=1.19.5
pandas~=1.1.5
matplotlib~=3.4.1
seaborn~=0.11.1
dask~=2.30.0
six~=1.15.0
cloudpickle~=1.6.0
scikit-learn~=0.24.2
requests~=2.25.1
nuclio~=0.1.0
joblib~=1.0.1

bs4~=0.0.1
beautifulsoup4~=4.9.3
sphinx~=3.5.4