<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

</head>

<body style="background-color: aliceblue;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="../index.html">Marketplace</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search functions" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid" style="background-color: whitesmoke;">
        <i class="fa fa-1x fa-arrow-left">
            <span id="back-arrow-text">Back to browes functions</span>
        </i>
    </div>
    <div class="container-fluid pt-3" style="display: flex; flex-flow: column; height: 100%;">
        <div class="row" style="flex: 1 1 auto;">
            <div class="col-2">
                <div class="btn-group-vertical strech pb-3">
                    <button type="button" class="btn btn-secondary my-1">Deploy</button>
                    <button type="button" class="btn btn-secondary my-1">Example Notebook</button>
                    <button type="button" class="btn btn-secondary my-1">View Source</button>
                    <button type="button" class="btn btn-secondary my-1">Github</button>
                </div>
                <div>
                    <div class="card text-left" style="background-color: whitesmoke;">
                        <div class="item-section">
                            <div class="item-header">FUNCTION VERSION</div>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{archive["current"]}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for prev in archive["prev"] %}
                                            <a class="dropdown-item" href="#">{{prev}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                        </div>
                        <div class="item-section">
                            <div class="item-header">MLRun version</div>
                            <div class="item-content">{{item["mlrunVersion"]}}</div>
                        </div>
                        <div class="item-section">
                            <div class="item-header">Platform version</div>
                            <div class="item-content">{{item["platformVersion"]}}</div>
                        </div>
                        <div class="item-section">
                            <div class="item-header">Maintainers</div>
                            {% for maintainer in item["maintainers"] %}
                                <div class="item-content">{{maintainer["name"]}}</div>
                            {% endfor %}
                        </div>
                        <div class="item-section">
                            <div class="item-header">Requirements</div>
                            {% for requirement in item["spec"]["requirements"] %}
                                <div class="item-content">{{requirement}}</div>
                            {% endfor %}
                        </div>
                        <div class="item-section">
                            <div class="item-header">Kind</div>
                            <div class="item-content">{{item["spec"]["kind"]}}</div>
                        </div>
                        <div class="item-section">
                            <div class="item-header">Image</div>
                            <div class="item-content">{{item["spec"]["image"]}}</div>
                        </div>
                        <div class="item-section">
                            <a href="../{{item["name"]}}/function.yaml">function.yaml</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-10">
                <iframe src="../{{item["name"]}}/latest/{{item["name"]}}.html" frameborder="0"
                    style="display: block; width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>