<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="_static/styles.css">
    <title>Marketplace</title>
</head>

<body>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Source</th>
                <th scope="col">Channel</th>
                <th scope="col">Version</th>
                <th scope="col">Generation Date</th>
                <th scope="col">Docs URL</th>
                <th scope="col">Example URL</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <th scope="row">{{item["item_num"]}}</th>
                <td>{{item["item_name"]}}</td>
                <td>{{item["source_name"]}}</td>
                <td>{{item["channel_name"]}}</td>
                <td>{{item["version"]}}</td>
                <td>{{item["generation_date"]}}</td>
                <td><a href={{item["file_url"]}}>Link</a></td>
                <td><a href={{item["example_url"]}}>Link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>